<div class="bg-wht rounded-l shadow-hover p-ld-32">
  <ld-typo variant="h2" class="mb-ld-32">Hi there 👋</ld-typo>
  <ld-typo class="mb-ld-16">
    This small sandbox app demonstrates{' '}
    <a href="https://emdgroup-liquid.github.io/liquid/" class="font-bold hover:underline">
      Liquid Oxygen
    </a>{' '}
    used in combination with Astro, Svelte and Tailwind CSS.
  </ld-typo>
  <slot />
</div>