---
import Background from '../components/Background/Background.astro';
import Footer from '../components/Footer/Footer.astro';
---

<div class={`flex flex-col min-h-screen`}>
  <main class="relative min-h-full">
    <Background />
    <slot />
  </main>

  <Footer client:load></Footer>
  <ld-notification placement="bottom" />
</div>